<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>projpush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABEB29E51D32F93B00C635BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABEB29F91D32F93B00C635BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABEB2A041D32F93B00C635BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
